# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.venv/
venv/
.env
.ipynb_checkpoints

# Data
data/
datasets/
*.h5
*.pth
*.ckpt

# Jupyter
*.ipynb

#Other Files
ComputerVision/ResNet/param_checker.py
GenAI\GAN\dataset
GenAI\GAN\dataset\MNIST